@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Hide default cursor so our custom one works */
* {
    cursor: none !important;
}